<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        PESO IDEAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-item>
                  <ion-label color="warning" position="stacked">Digite sua altura: </ion-label>
                  <ion-input type="number" [(ngModel)]="altura"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-item>
                <ion-list>
                        <ion-radio-group [(ngModel)]="sexo"> 

                            <ion-item>
                            <ion-label>Masculino</ion-label>
                            <ion-radio slot="start" value="m"></ion-radio>
                            </ion-item>

                            <ion-item>
                            <ion-label>Feminino</ion-label>
                            <ion-radio slot="start" value="f"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                  </ion-list>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="pesoIdeal()">Calcular</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
            <h2 style="text-align: center;">Resultado: </h2>
            <h1 style="text-align: center;" color="success">{{ resultado }} </h1>
            </ion-col>
        </ion-row>
  </ion-grid>    
    
</ion-content>
